body {
    color: #40514E;
    margin: 0;
    text-align: center;
}
h1 {
    color: #40513B;
    margin: 0;
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    font-weight: 400;

}

/* This h2 only stand for web developer. */
.h2 {
    color: #40513B;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5625rem;
    font-weight: normal;
    margin-top: 0;

}

h2 {
    color: #609966;
    font-family: "Montserrat", sans-serif;
    font-size: 2.1875rem;
}
h3 {
    color: #609966;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
}
p {
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    line-height: 2;

}
hr {
    color: #EEEEEE;
    border-style: none none dotted;
    border-width: 10px;
    width: 5%;
    margin: 40px auto;
}

/* ...............Head Page ..............*/
.head-page {
    background-color: #609966;
    padding-top: 30px;
}

/* ..............All Cloud and Mountain............. */
.top-cloud {
    height: 100px;
    width: 170px;
    position: relative;
    left: 270px;

}
.middle-cloud {
    height: 100px;
    width: 170px;
    position: absolute;
    left: 250px;

}
.bottom-cloud {
    height: 80px;
    width: 140px;
    position: absolute;
    right: 180px;
    top: 530px;
}
.mountain {
    height: 600px;
    width: 700px;
}

/* ..........Middle Page.......... */
.skills {
    background-color: white;
}
/* .........Describe Yourself......... */
.profile-img {
    margin-top: 20px;
    height: 200px;
    width: 200px;
}
.describe-yourself {
    line-height: 2;
    margin: 0 auto;
    padding-top: 20px;
    width: 27%;

}

/*...............Skills............... */
.allSkills {
    margin: 100px auto;
    width: 50%;
    text-align: left;

}
.web-img {
    border-radius: 50%;
    float: left;
    width: 25%;
}
.graphic-img {
    border-radius: 50%;
    float: right;
    width: 23%;
    position: relative;
    top: 20px;
}
.toturing-img {
    border-radius: 50%;
    float: left;
    width: 27%;
    position: relative;
    bottom: 20px;
    right: 5px;

}

/*............... Contact Section ...............*/
.contact {
    width: 50%;
    margin: 60px auto;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #609966;
    margin: 20px none;
    padding: 15px 35px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #9DC08B;
    text-decoration: none;
  }
  

/* ...............Footer Page............... */
.footer-page {
    margin-top: 40px;
    background-color: #609966;
}

.all-icon {
    margin-top: 10px;;
    padding: 40px 0px 30px;
}
.icon {
    height: 25px;
    width: 25px;
    margin: 0 10px;
}
.icon:hover {
    background-color: #EEEEEE;
    border-radius: 3px;
}
.instagram:hover {
    border-radius: 7px;
}
.copyright {
    color: #EEEEEE;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    font-size: 0.8rem;
    padding-bottom: 20px;
}
